<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          3F / Vice Dean 2
          <div class="btn-group float-right" dropdown placement="bottom left">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              Floor <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" >
              <li role="menuitem"><a class="dropdown-item" href="/#/floor3">Main Floor</a></li>
              <li role="menuitem"><a class="dropdown-item" href="/#/dashboard">Main Building</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
	           <div class="col-sm-12 col-md-18"> 
        	    	<svg version="1.1" viewBox="-50 20 350 120" xmlns="http://www.w3.org/2000/svg">
                  <path d="M80 30 170 30, 170 130, 161 130, 161 123, 155 130, 149 123, 149 130, 80 130, z" />
                  <path d="M80 88, 155 88, 162 82, 162 88, 170 88" />
                  <g id="lampOne" (click)="activateItem(0, 'lampOne')">
                    <path d="M90 40 h25 v2 h-25 z M90 42 v2 h25 v-2 "/>
                    <path d="M135 71 h25 v2 h-25 z M135 73 v2 h25 v-2 "/>
                  </g>
                  <g id="lampTwo" (click)="activateItem(1, 'lampTwo')">
                    <path d="M135 40 h25 v2 h-25 z M135 42 v2 h25 v-2 "/>
                    <path d="M90 71 h25 v2 h-25 z M90 73 v2 h25 v-2 "/>
                  </g>
                  <rect id="ac" (click)="activateItem(2, 'ac')" x="115" y="47" height="20" width="20" rx="5" ry="5" />

                  <g id="lampThree" (click)="activateItem(3, 'lampThree')">
                    <path d="M90 95 v25 h2 v-25 z M92 95 h2 v25 h-2 "/>
                    <path d="M155 95 v25 h2 v-25 z M157 95 h2 v25 h-2 " />
                  </g>
                  <path id="lampFour" (click)="activateItem(4, 'lampFour')" d="M123 95 v25 h2 v-25 z M125 95 h2 v25 h-2 " />
                  <rect id="external_ac" (click)="activateItem(5, 'external_ac')" x="99" y="90" height="5" width="20" rx="2" ry="2"/>
                </svg>
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Last Activity
            </div>
            <div class="card-body container" style="overflow-x:auto;">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Lamp Id</th>
                    <th>Date</th>
                    <th>Set time</th>
                    <th>Off time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>00101001</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td>06:00</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00101001</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td></td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00101002</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td>07:00</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00101002</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td></td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00102001</td>
                    <td>2018/07/16</td>
                    <td>08:00</td>
                    <td>17:00</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
