<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          3F / Hall Room
          <div class="btn-group float-right" dropdown placement="bottom left">
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              Floor <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" >
              <li role="menuitem"><a class="dropdown-item" href="/#/floor3">Main Floor</a></li>
              <li role="menuitem"><a class="dropdown-item" href="/#/dashboard">Main Building</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
	           <div class="col-sm-12 col-md-18"> 
        	    	<svg version="1.1" viewBox="-50 20 350 120" xmlns="http://www.w3.org/2000/svg">
                   <path d="M98  40 118 40, 118 25, 170 25, 170 50, 130 80, 170 123, 170 130, 98 130, 98 90, 108 90, 98 80, 108 70, 98 70, z" />
                   <g id="ac" (click)="activateItem(2, 'ac')">
                     <rect class="strokeLess"x="101" y="111" height="16" width="16" rx="5" ry="5"/>
                     <rect  class="strokeLess" x="101" y="93" height="16" width="16" rx="5" ry="5"/>
                   </g>
                   <g id="lampOne" (click)="activateItem(0, 'lampOne')">
                     <circle cx="118" cy="80" r="4" />
                     <circle cx="145" cy="120" r="4" />
                     <circle cx="145" cy="45" r="4" />
                   </g>
                   <g id="lampTwo" (click)="activateItem(1, 'lampTwo')">
                     <circle cx="126" cy="55" r="4" />
                     <circle cx="126" cy="110" r="4" />
                   </g>
        	     </svg>
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Last Activity
            </div>
            <div class="card-body container" style="overflow-x:auto;">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr>
                    <th>Lamp Id</th>
                    <th>Date</th>
                    <th>Set time</th>
                    <th>Off time</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>00101001</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td>06:00</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00101001</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td></td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00101002</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td>07:00</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00101002</td>
                    <td>2018/07/16</td>
                    <td>18:00</td>
                    <td></td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>00102001</td>
                    <td>2018/07/16</td>
                    <td>08:00</td>
                    <td>17:00</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
