<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Ground Floor
        </div>
        <div class="card-body" style="overflow-x:auto;">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Lamp Id</th>
                <th>Date</th>
                <th>Set time</th>
                <th>Off time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>06:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>07:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00102001</td>
                <td>2018/07/16</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 1 st Floor
        </div>
        <div class="card-body" style="overflow-x:auto;">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Lamp Id</th>
                <th>Date</th>
                <th>Set time</th>
                <th>Off time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>06:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>07:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00102001</td>
                <td>2018/07/16</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 2 nd Floor
        </div>
        <div class="card-body" style="overflow-x:auto;">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Lamp Id</th>
                <th>Date</th>
                <th>Set time</th>
                <th>Off time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>06:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>07:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00102001</td>
                <td>2018/07/16</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 3 rd Floor
        </div>
        <div class="card-body" style="overflow-x:auto;">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Lamp Id</th>
                <th>Date</th>
                <th>Set time</th>
                <th>Off time</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>06:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101001</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td>07:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
              <tr>
                <td>00101002</td>
                <td>2018/07/16</td>
                <td>18:00</td>
                <td></td>
                <td>
                  <span class="badge badge-success">Active</span>
                </td>
              </tr>
              <tr>
                <td>00102001</td>
                <td>2018/07/16</td>
                <td>08:00</td>
                <td>17:00</td>
                <td>
                  <span class="badge badge-secondary">Inactive</span>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
